:root{
    --color-1: #e58900;
    --color-2: #0c5548;
    --color-3: #f6d8aa;
    --color-4: #2ec0a5;
}

.container{
    display: flex;
    justify-content: space-between;
}

.side-hero{
    background-color: var(--color-1);
    height: 100vh;
    flex-basis: 35%;
}


.side-box img{
    width: 100%;
    height: auto;
}

.form-area{
    flex-basis: 65%;
    text-align: center;
}


.forms, .sections{
    text-align: center;
}

.form-header, .sections-header{
    color: var(--color-2);
    margin-bottom: 15px;
    font-size: 1rem;
}

div.input-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.input{
    height: 40px;
    width: 300px;
    background: #f6d8aa;
    border-radius: 15px;
    border: none;
    outline: none;
    color: var(--color-2);
    padding: 20px;
    font-size: 14px;
    box-shadow:  -2px 2px 3px rgba(0, 0, 0, 0.5);
    
}

.input:focus{
    outline: none;
    border: none;
}

.submit{
    background: #158e78;
    border-radius: 15px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    height: 45px;
    width: 220px;
}

.optional p{
    color: var(--color-2);
    font-size: 12px;
    margin-top: 15px;
}


@media screen and (max-width: 760px){
    .side-hero{
        display: none;
    }

    .container{
        justify-content: center;
        align-items: center;
    }

    .input{
        width: 100%;        
    }
}